<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Welcome to Reaccion CMS</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('build/front_app.css') }}">
		
	</head>

	<body>

		<div class="container">
			
			<div class="row d-table">
				<div class="col-3 align-middle d-table-cell">
					<img src="{{ asset('build/images/reaccion_estudio.png') }}" />
				</div>
				<div class="col-9 d-table-cell">
			    	<h1 class="mt-5">Welcome to Reaccion CMS {{ cmsVersion }}</h1>
			      	<p class="lead">An easy and customizable Content Management System built on Symfony 4.</p>
			      	<p>Access to <a href="{{ url('reaccion_cms_admin_index') }}" title="Admin panel">admin panel</a> and start building your new website.</p>
		      </div>
		    </div>

	    </div>

	    <footer class="footer">
	      <div class="container text-center">
	        <span class="text-muted">Reaccion CMS {{ cmsVersion }} - Developed by <a href="https://www.reaccionestudio.com/" target="_blank">Reaccion Estudio</a></span>
	      </div>
	    </footer>

		<script type="text/javascript" src="{{ asset('build/front_app.js') }}"></script>

	</body>

</html>