{% extends '@ReaccionCMSBundle/rocket_theme/base.html.twig' %}

{% block body %}
	
	{% if name is not empty %}
	<h1>{{ name }}</h1>
	{% endif %}
	
	<div class="row pt-3">

		{% if content.entries_list is defined %}
		<div class="col-sm-8">

			{% for entry in content.entries_list %}
			<div class="row mb-3">
			  <div class="col-sm-12">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">
			        	<a href="#" title="{{ entry.name }}">{{ entry.name }}</a>
			        </h5>
			        {% if entry.resume is not empty %}
			        <p class="card-text">
			        	{{ entry.resume }}
				        <a href="#" title="{{ entry.name }}" class="badge badge-secondary ml-1">Read more</a>
			        </p>
			        {% endif %}
			      </div>
			    </div>
			  </div>
			</div>
			{% endfor %}

		</div>
		{% endif %}

		<div class="col-sm-4">

			{% if content.entry_categories %}
			<div class="row">
			  	<div class="col-sm-12">
			  		<div class="card">
				    	<div class="card-body">
				    		<ul id="entries_categories" class="pl-3">
					    		{% for category in content.entry_categories %}
					    		<li>
					    			<a href="#" title="{{ category.name }}">{{ category.name }}</a>
					    		</li>
					    		{% endfor %}
				    		</ul>
				      	</div>
				    </div>
				</div>
			</div>
			{% endif %}

		</div>

	</div>

{% endblock %}