{% extends '@ReaccionCMSBundle/rocket_theme/base.html.twig' %}

{% block body %}
	
	{% if name is not empty %}
	<h1>{{ name }}</h1>
	<div class="text-muted">
	{% if entry.categories is defined and entry.categories is not empty %}
		{% for category in entry.categories %}
			<a href="{{ url('blog_category', { 'category' : category.slug }) }}" title="{{ category.name }}">{{ category.name }}</a>
		{% endfor %}
		- 
	{% endif %}

	{{ 'blog.created_at' | trans({ '%datetime%' : entry.createdAt | date('d/m/Y H:i') }) }}
	</div>
	{% endif %} 

	{% if entry is defined %}
	<div id="entry_detail" class="pt-3">{{ entry.content | raw }}</div>
	{% endif %}

	{% if entry.tags is defined and entry.tags is not empty %}
		{% for tag in getArrayTags(entry) %}
			<a href="{{ url('blog_tag', {'tag' : tag }) }}" title="{{ tag }}" class="">#{{ tag }}</a>
		{% endfor %}
	{% endif %}

	<!-- next and previous entries links -->
	{% embed '@ReaccionCMSBundle/entries/nextAndPreviousEntriesLinks.html.twig' %}{% endembed %}
	<!-- end next and previous entries links -->

	<!-- comments -->
	{% embed '@ReaccionCMSBundle/entries/comments/comments.html.twig' %}{% endembed %}
	<!-- end comments -->

{% endblock %}
