{% extends '@ReaccionCMSBundle/rocket_theme/base.html.twig' %}

{% block body %}
	
	{% if name is not empty %}
	<h1>{{ name }}</h1>
	<div class="text-muted">
	{% if content.entry.value.categories is defined and content.entry.value.categories is not empty %}
		{% for category in content.entry.value.categories %}
			<a href="{{ url('blog_category', { 'category' : category.slug }) }}" title="{{ category.name }}">{{ category.name }}</a>
		{% endfor %}
		- 
	{% endif %}

	{{ 'blog.created_at' | trans({ '%datetime%' : content.entry.value.createdAt | date('d/m/Y H:i') }) }}
	</div>
	{% endif %} 

	{% if content.entry is defined %}
	<div id="entry_detail" class="pt-3">{{ content.entry.value.content | raw }}</div>
	{% endif %}

	{% if content.entry.value.tags is defined %}
		{% for tag in getArrayTags(content.entry.value) %}
			<a href="#" title="{{ tag }}" class="">#{{ tag }}</a>
		{% endfor %}
	{% endif %}

{% endblock %}