<div id="list_comments">

	<h4><strong>{{ 'entries_comments.list_title' | trans({'%num%' : getSerializedVar(options, 'totalComments') }) }}</strong></h4>

	<div class="entry_comments_list">

		<!-- macro definition -->
		{% macro listComments(comments, comment) %}
		{% import _self as self %}

			<li>

				<div class="comment-wrapper">
					<div class="comment-header">
						<strong>{% if comment.creatorNickname is not empty %}{{ comment.creatorNickname }}{% else %}{{ comment.creatorUsername }}{% endif %}</strong><small class="ml-1">{{ comment.createdAt | date('d/m/Y H:i') }}</small>
					</div>
					<div class="comment-body">
						{{ comment.content }}
					</div>

					{% if app.user is not empty %}
					<div class="comment-footer">
						<a href="#" class="mr-1">[+] Reply</a>
						{% if comment.creatorId == app.user.id %}
						<a href="#" class="ml-2">[x] Remove</a>
						{% endif %}
					</div>
					{% endif %}

				</div>

				{% set parentId = comment.id %}

			{% if comment.children is defined and comment.children is not empty %}

				<ul>
                	{% for child in comment.children %}
                    	{{ self.listComments(comments, child) }}
                	{% endfor %}
                </ul>

			{% endif %}

			</li>

		{% endmacro %}

		<!-- run macro -->
		{% from _self import listComments %}

		<ul class="pl-0">
		{% for comment in comments %}
	   		{{ listComments(comments, comment) }}
    	{% endfor %}
    	</ul>

	</div>

</div>