			
			<!-- menu separator -->
			<li class="nav-item dropdown">
				<a href="#" class="nav-link pl-4">|</a>
			</li>

			{% if app.user is empty %}
			<!-- sign in and sign up menu links -->
			<li class="nav-item dropdown">
				<a href="{{ url('user_login') }}" title="{{ 'navigation.signin_link' | trans }}" class="nav-link pl-4">{{ 'navigation.signin_link' | trans }}</a>
			</li>
			<li class="nav-item dropdown pl-4" id="signup_link">
				<a href="{{ url('user_register') }}" title="{{ 'navigation.signup_link' | trans }}" class="nav-link btn-sm btn-primary pl-3 pr-3">{{ 'navigation.signup_link' | trans }}</a>
			</li>
			{% else %}
			<!-- user navigation -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle pl-4" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ getUserNickname(app.user) }}</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="nav-item dropdown">
						<a class="nav-link pl-4" href="#" data-slug="" title="">{{ 'user.logout' | trans }}</a>
					</li>
				</ul>
			</li>	
			{% endif %}
			<!-- end user navigation -->

	    </ul>
  	</div>
</nav>