{% set languagesData = getLanguagesWidgetData() %}
<div id="language_picker_widget" data-app-route="{{ app.request.get('_route') }}" data-app-route-slug="{% if type is defined %}{{ getActiveRoute(type) }}{% endif %}" class="dropdown">
	<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">{{ languagesData.default.originalName }}</button>
  	<div class="dropdown-menu">
  		{% for languageData in languagesData.languages %}
	    <a class="dropdown-item" data-language="{{ languageData.language }}" href="#">
	    	{% if languageData.originalName is not empty %}
				{{ languageData.originalName }}
			{% else %}
				{{ ('languages.' ~ languageData.language) | trans }}
			{% endif %}
	    </a>
	    {% endfor %}
  	</div>
</div>